/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.slide_bg{
  height: 800px;
}
.text-banner{
  margin-top: 30%;
}

.mt-s{
  margin-top: 15%;
}

.mt-s2{
  margin-top: 5%;
}

.mt-s3px{
  margin-top: 70px;
}

.mb-s{
  margin-bottom: 15%;
}

.mb-s2{
  margin-bottom: 5%;
}

.mt-ft{
  margin-top: 7%;
}

.mt-fb{
  margin-bottom: 7%;
}

.article{
  margin-bottom: 30px;
}

.float{
  border: 1px solid #ccc;
  position: absolute;
  margin-top: -100px;
  margin-left: 2px;
}

.items{
  box-shadow: 2px 2px 10px #999999;
}

.plain-link2 h3 {
  color: #ffffff;
  font-weight: 500;
}

.plain-link2 h3:hover {
  text-decoration: none;
  color: #ffffff;
}

.title{
  margin-top: 140px;
}

.white-color {
  color: #ffffff;
}
